.row {
    display: flex;
    flex-wrap: wrap;
}
.main {
    justify-content: space-around;
    flex: 67%;
    background-color: white;
    padding: 10px;
}
.main h2 {
    text-transform: uppercase;
    margin-top: 40px;
    color: var(--color-primary-dark);
}
.main img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.more-manga {
    display: block;
    color: var(--color-primary);
    margin: auto;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-gray);
    border-radius: 20px;
    width: 300px;
    padding: 10px;
}
.more-manga:hover {
    color: var(--color-secondary-dark);
}
/*  */
