.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
}
.navbar a {
    color: white;
    padding: 35px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}
.navbar a:hover {
    background-color: var(--color-primary-dark);
}