.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
}
.navbar a {
    color: white;
    padding: 35px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.navbar a:hover {
    background-color: var(--color-primary-dark);
}
@media screen and (max-width: 700px) {
    .navbar {
        flex-flow: column wrap;
    }
}