@import url(colors.css);
@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(header.css);
@import url(nav-bar.css);
@import url(aside.css);
@import url(content.css);
@import url(catalogo.css);
@import url(pdf-view.css);
@import url(footer.css);
@import url(source.css);

.fondo {
    background-color: black;
}

@media screen and (max-width: 800px) {
    .navbar, .row {
        flex-flow: column wrap;
    }
    .navbar a{
        padding: 20px;
    }
    header div img {
        width: 200px;
        height: 150px;
    }
    header h1 {
        font-size: 2em;
        margin: 10px 0 10px;
    }
    header p {
        margin: 0 0 20px;
        font-size: 1em;
    }
    aside img {
        width: 430px;
        height: 250px;
    }
    .shonen {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}